table{
    border: 1px solid    black;
    border-collapse: collapse;
}
td, th{
    border:1px solid black;
}

.image:hover{
    opacity: 1;
    width: 38%;
    height: 48%;
}

.image {
    opacity: 0.3;
    display: block;
    width: 35%;
    height: 45%;
    transition: .5s ease;
    backface-visibility: hidden;
    float: left;
}

@font-face {
    font-family: seagramFont;
    src: url(../fonts/Seagram.ttf);
}

p, h1{
    font-family: seagramFont;
}