body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section{
  border-top: 4px solid #FFC31E;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  display: inline;
}

.topnav {
  overflow: hidden;
  float: right;
}
  
.topnav li {
  float: left;
  color: #DEB887;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav li.active {
  background-color: #FFC31E;
  color: white;
}