body {
    background-color: lightblue;
}

.row {
    width: 100%;
}

.box1 {
    float: left;
    background-color: lightgreen;
    margin: 5%;
    padding: 5%;
    height: 70px;
    width: 40%;
}

.box2 {
    float: right;
    background-color: purple;
    margin: 5%;
    padding: 5%; 
    height: 70px;
    width: 20%;
}

.container {
    height: 100%;
}