.buttons {
    margin: auto;
    width: 50%;
    padding: 10px;
    position: relative;
    top: -10px;
}

.image-bar {
    margin: auto;
    padding: 10px;
    width: 40%;
    position: relative;
    top: 50px;
}

.image {
    height: 400px;
    width: 600px;
    position: absolute;
}

.change-border {
    border: 3px solid red;
}